*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section{
    display: block;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid black;
    padding: 2rem;
}

button{
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
}

span{
    font-size: larger;
}

#result{
    font-size: larger;    
}